<div id="hack-ideas">
  <p><h3>Here are some awesome APIs at your disposal:</h3></p>
  <img id="apis-img" src="/images/apis.png"></img>
  <div id="hack-ideas-scroll">
    <p><h3>Hack ideas</h3></p>
    <div class="hack-idea">
      <p>
        <img src="http://media.tumblr.com/tumblr_lqp2xsScJk1qlcvzq.png"></img>
      </p>
      <p>
        <ul>
          <li>Convert a small subsection of a video into an animated GIF</li>
        </uL>
      </p>
    </div>
    <div class="hack-idea">
      <p>
        <img src="http://media.tumblr.com/tumblr_lq03bpfNvV1qlcvzq.png"></img>
      </p>
      <p>
        <ul>
          <li>Build a Boxee app for your favorite web application!</li>
        </uL>
      </p>
    </div>
<div class="hack-idea">
      <p>
        <img src="/images/vidlylogo.png"></img>
        <img id="encoding-api-logo" src="/images/encoding.jpg"></img>
      </p>
      <p>
        <ul>
          <li>Build an iReporter app: capture, upload and share news as it happens </li>
          <li>Build a re-mix video app: add images on top of videos to create funny vids to share </li>
          <li>Build an app around local content using a geolocation service & vid.ly </li>
          <li>Build a user-generated video app (could be vertical to a particular topic): record video, share easily with Twitter / Facebook, view Vid.lys</li>
          <li>Build a video blogging app: capture video and upload directly to (Posterous, Tumblr, Wordpress)</li>
        </uL>
      </p>
    </div>

    <div class="hack-idea">
      <p>
        <img src="/images/framesocket.jpg"></img>
      </p>
      <p>
        <ul>
          <li>Mobile Media Backup Service - Build a service that simply uploads videos and photos taken with your phone on a scheduled basis, making them accessible and sharable via any device within reach (Think Instagram for video)</li>
          <li>Video Email - Record OR upload a video > send via email.</li>
          <li>Video/Photo classifieds with SMS integration - Point and shoot video or photo > Share online along w/ SMS short code. Any interested party can then contact the content owner immediately and move towards a transaction more expeditiously.</li>
          <li><u><a href="http://framesocket.com/for-developers/api-documentation">Framesocket API Documentation</a></u></li>
        </uL>
      </p>
    </div>
    <div class="hack-idea">
      <p>
        <img src="/images/framey.png"></img>
      </p>
      <p>
        <ul>
          <li>Build a blogging platform with video comments rather than text comments.</li>
          <li>Build a "video Reddit" site where videos can be submitted and the best ones get up-voted.</li>
          <li>Build a video mail site</li>
          <li>Build a video Q&A site (think Quora with video)</li>
        </ul>
      </p>
    </div>
    <div class="hack-idea">
      <p>
        <img src="http://media.tumblr.com/tumblr_lqls6breSz1qlcvzq.png"></img>
      </p>
      <p>
        <ul>
          <li>Log-in to our open data commons of dozens of RESTful APIs, including media APIs like <a href="http://developer.netflix.com/">Netflix</a>,  <a href="http://developer.rovi.com/">Rovi,</a> Rotten Tomatoes reviews, Klout scores, Rdio, New York Times Movie Reviews and more. Build better apps with the <a href="http://developer.mashery.com/apis"><b><u>Mashery API Network.</u></b></a></li>
        </uL>
      </p>
    </div>
    <div class="hack-idea">
      <p>
        <img src="http://media.tumblr.com/tumblr_lq6qyceSlz1qlcvzq.png"></img>
      </p>
      <p>
        <ul>
          <li>Build a social video sharing site where you accept uploads, send to MoovAtom for encoding, get back the streams, and deliver them in any social way you want.</li>
          <li>Build a pay per view site where independent film producers could upload their finished films and set a price for people to pay.  Moovatom will encode and deliver the video and our streaming servers won’t make copies into the browser cache which protects the work.</li>
          <li>Build a mobile app that uploads media from your app to your servers, makes a call to MoovAtom’s servers to prepare the video, then grabs the streams MoovAtom returns to you to play back in your mobile app.  Tag these videos however you want in your database we’ll handle encoding and giving you the right stream paths for each device.</li>
        </uL>
      </p>
    </div>
    <div class="hack-idea">
      <p>
        <img src="http://media.tumblr.com/tumblr_lq6yq7n3XC1qlcvzq.png"></img>
      </p>
      <p>
        <ul>
          <li>Online karaoke</li>
          <li>Team Video Pong</li>
          <li>Fantasy football video drafts </li>
          <li>Online dance battles</li>
          <li>Online group fitness training</li>
          <li>Home security monitoring</li>
          <li>Ask a celebrity Q&A</li>
          <li>Video customer support</li>
        </ul>
      </p>
    </div>
    <div class="hack-idea">
      <p>
        <img src="/images/ordrin-m.png"></img>
      </p>
      <ul>
        <li>Build a "Dinner & A Movie" app - use Ordr.In to find out what food goes with the movie you're watching! </li>
        <li>Mashup one of the Rovi TV directory/media recommendation APIs so when people plan their watching they can order food along with it.</li>
        <li>Famous Foods - Build a way to link up restaurants from famous movies and immediately place an order there for pickup or delivery.  "I just ordr'd a sandwich from the Harry Met Sally Restaurant!"</li>
        <li>Pull up how to cook videos from YouTube and get some food below it: "Mmm. This video makes me hugry.  Ordr Now"</li>
        <li>Foodspotting but with video.</li>
        <li>Use <a href="http://vid.ly">vid.ly</a> and <a href="http://ordr.in">ordr.in</a> to build video reviews for specific meals.</li>
      </ul>
    </div>
    <div class="hack-idea">
      <p>
        <img src="http://media.tumblr.com/tumblr_lq1iyhgGZZ1qlcvzq.jpg"></img>
      </p>
      <p>
        <ul>
        </uL>
      </p>
    </div>
    <div class="hack-idea">
      <p>
        <img src="/images/shelby_black.png"></img>
      </p>
      <p>
        <ul>
          <li>Turntable for video: Be a video DJ and create Shelby channels with your friends.  Showcase your most hilarious and obscure memes to an audience of discerning (and point-awarding) viewers. Discuss, discover, battle, like, dislike and lol at cats.</li>
          <li>Location based Shelby.tv channels: Whenever someone checks-in to the office / a bar / your house the nearest TV starts playing all the latest video your friends have been sharing.</li>
          <li>fMystery Science Theater Shelby! Populate a channel with some great videos and throw some funny commentary on top.</li>
          <li>The Subtitler: Go head-to-head with your friends to create the most hilarious subtitles for a foreign language clip. <u><a href="http://www.youtube.com/watch?v=YaeOXyA7wo0">Like this one.</a></u></li>
        </uL>
      </p>
    </div>
    <div class="hack-idea">
      <p>
        <img src="http://media.tumblr.com/tumblr_lqpipu5qfg1qlcvzq.png"></img>
      </p>
      <p>
        <ul>
          <li>Browser extension using Twilio Client to do voice chat while watching the same video.  </li>
          <li>Video voting on a billboard</li>
          <li>SMS remote control</li>
          <li>MST3K for YouTube using Twilio Chat!</li>
          <li>Popup received SMS messages on Boxee</li>
          <li>SMS interface for <u><a href="http://put.io">Put.io</a></u></li>
          <li>Bookmarklet to SMS favorite videos to friends.</li>
        </uL>
      </p>
    </div>
    <div class="hack-idea">
      <p>
        <img src="/images/vhx-logo-black.png"></img>
      </p>
      <p>
        <ul>
          <li>Turn any feed into a video playlist.</li>
          <li>Create video playlists that playback seamlessly and with commentary</li>
          <li>See what your friends are watching in real-time</li>
          <li>Create a YouTube video editor. Take advantage of YouTube's streaming feature to trim, edit, cut and make mashups of one or more videos.</li>
        </ul>
      </p>
    </div>
        <div class="hack-idea">
      <p>
        <img src="http://media.tumblr.com/tumblr_lq033hLksO1qlcvzq.png"></img>
      </p>
      <p>
        <ul>
          <li>Build a hack that generates "interesting" (something other than just basic transitions) video slideshows from a Picasa/Flickr/etc. album and automatically uploads the video to YouTube and fills in YouTube metadata based on the album's metadata</li>
          <li>Build something that takes a specific keyword/topic and tries to find a list of relevant YouTube channels that are actively publishing new videos about that topic. I.e. you enter "fishing" and you're presented with a list of X channels that have published multiple recent videos about fishing, with the option of subscribing to those channels, with the assumption that they'll be publishing more videos about fishing in the future.</li>
          <li>A reusable, drop-in JavaScript library that takes a YouTube API video feed as input and generates a nice UI for showing a pageable list of thumbnails for those videos along with a customized chromeless player for playing back the selected videos.</li>
          <li>A tool that automatically retrieves the YouTube Insight reports using the API and processes them (they're zip-ed CSV files) to provide a nice visualization of viewership data above and beyond what's available via the YouTube.comInsight web interface.
          </li>
        </uL>
      </p>
    </div>
    <div class="hack-idea">
      <p>
        <img src="/images/zencoder.png"></img>
      </p>
      <p>
        <ul>
          <li>Build your own YouTube site </li>
          <li>Build a site in which video interacts with other elements on the page.</li>

        </uL>
      </p>
    </div>
    </div>
</div>
