<div id="faq">
  <div class="quest">
    <h3>What the heck is hackday.tv?</h3>
    <p>
      Hackday.tv is a 24-hour hackathon dedicated to showcasing innovation and creativity in the world of video.
    </p>
  </div>
  <div class="quest">
    <h3>Why host a hackathon around video?</h3>
    <p>
     We hear this “moving pictures” thing is going to be huge.  Invest now before it turns into a bubble. 
    </p>
  </div>
  <div class="quest">
    <h3>Who is invited?</h3>
    <p>
    <u><a href="http://www.youtube.com/watch?v=8To-6VIJZRE">Developers, Developers, Developers!</a></u> - What good is a hackday without bodacious hacks? Not much, if you ask us.  If you’re a veteran video hacker or a local dev who just happens to love coming to hackdays (and has a killer idea) come join us and build some awesome stuff.
    </p>
    <p>
    <i>Videographers/Creatives</i> - Right brained and feeling left out of previous hackathons? Team up with a hack team and put together a short video trailer for their hack.  We’ll intro the hacks with the trailers and if your team wins, you just might see your handiwork on the Times Square jumbotron.
    </p>
    <p>
    <i>Demo Attendees</i> - Demos are open to anyone. Shirt and shoes required, though.
    </p>
  </div>
  <div class="quest">
    <h3>Where/when is the NYC event for hackday.tv being held?</h3>
    <p>
    At General Assembly on September 10th and 11th, 2011.
    </p>
  </div>
  <div class="quest">
    <h3>Jeez, you guys have sponsors and lots of corporate logos on this site. What’s the deal with that?</h3>
    <p>
   These kinds of events can be even more fun with the support of a few companies, so we’re just recognizing them for their support.  Rest easy, the event is still about building (and breaking) cool stuff and meeting awesome people.  If you have an issue with some of the logos, you can always move to Williamsburg and pretend we’re being ironic. 
    </p>
  </div>
  <div class="quest">
    <h3>Why are there creative people in my developer event?</h3>
    <p>
What’s better than an awesome hack? An awesome hack AND an awesome “hack trailer” that’s been fashioned just for you by someone creative who loves making video. Team up with a videographer or designer and <u><a href="http://www.youtube.com/watch?v=vpXM9bj-WPU">by your powers combined</a></u>, kick some ass in the demos. 
    </p>
  </div>
  <div class="quest">
    <h3>Is [insert technology/API here] “video” enough for the hackday?
    </h3>
    <p>
    As long as you can make a case for why it’s video related, we’re cool with it, too.
    </p>
  </div>
  <div class="quest">
    <h3>
    I am absolutely in love with video and I cannot get enough. Where can I find more video goodness for the weekend of September 10th and 11th?
    </h3>
    <p>
    We’re glad you asked. Head on over to the <u><a href="http://openvideoconference.org/">Open Video Conference</a></u> and tell them we said hi!
    </p>
  </div>
</div>
