<!DOCTYPE html>
<html>
  <head>
    <title>hackday.tv</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'></script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try{ 
        var pageTracker = _gat._getTracker("UA-12256494-4");
        pageTracker._trackPageview();
      } catch(err) {} 
    </script>

    <script type='text/javascript' src='/javascripts/hackday.js'></script>
    <script type='text/javascript'>
      jQuery(document).ready(function(){
        Hackday.init();
      });
    </script>
  </head>
  <div id="header">
    <div class="header-item">
      <a href="/"><img id="header-logo" src="/images/hackday-darkgrey.png"></img></a>
    </div>  
    <div id="header-description" class="header-item header-text">
      A 24hr video hackathon
    </div>
    <div id="header-signup" class="header-item header-text">
      <a href="http://www.eventbrite.com/event/2072060589">Sign Up</a>
    </div>
  </div>

  <body>
    <div id="content">
      <%- body %>
    </div>
  </body>
  
  <div id="footer">

    <div class="footer-item" id="links">
      <span class="contrib"><a href="http://wiki.hackday.tv/index.php?title=NYC.hackday.tv_September_10-11,_2011_at_General_Assembly">Wiki</a></span> 
      <span class="contrib"><a href="/apis">APIs</a></span> 
      <span class="contrib"><a href="/faq">FAQ</a></span>
      <span class="contrib"><a href="/prizes">Prizes!</a></span>
      <span class="contrib"><a href="https://docs.google.com/a/shelby.tv/spreadsheet/viewform?hl=en_US&formkey=dF83MERPYlFlNmV4Ukx4d0FrUFJIUlE6MQ#gid=0">Submit a Hack</a></span>
    </div>

    <a href="http://shelby.tv"><img src="/images/shelby_black.png" id="shelby-foot" class="footer-item"></img></a>
    <a href="http://www.tokbox.com/"><img src="/images/opentok.png" id="tokbox-foot" class="footer-item"></img></a>
    <a href="http://www.tokbox.com/"><img src="/images/GA_logo_web.png" id="ga-foot" class="footer-item"></img></a>
    <!--<div class="footer-item" id="powered">Made by:</div>-->

  </div>

</html>
