<p>
<span id="proudly">Sponsored by:</span>
</p>
<div id="logos">
  <div class="tier">
    <img id="nasdaq" src="/images/NASDAQ_OMX.png" class="sponsor"></img>
  </div>
  <div class="tier">
    <img id="pepsi" src="/images/pepsi.png" class="sponsor"></img>
  </div>
  <div class="tier">
  <img id="boxee" src="/images/press-boxee-logo.png" class="sponsor"></img>
  <img id="twilio" src="/images/twilio.png" class="sponsor"></img>
  <img id="vidly" src="/images/vidlylogo.png" class="sponsor"></img>
  </div>
</div>
<div id="info">
  <p><b>NYC</b> @ <img id="ga_logo" src="/images/GA_logo_web.png"></img></p>
  <p><b>Saturday, September 10th</b></p>  
  <p>9AM : Doors open</p>
  <p>10AM : API pitches</p>
  <p>11AM : Hacking begins!</p>
  </p>After Lunch: Social Video 101 by ShareThought</p>
  <p><b>Sunday, September 11th</b></p>
  <p>12PM : Demo signup closes</p>
  <p>2PM : Demos begin</p>
  <p><b>Location:</b> General Assembly (902 Broadway, 4th Floor)</p>
</div>

