
<p>
<div style="margin-left:20px"><h3><b><a href ="http://www.youtube.com/watch?v=BCgS079ZkPU">Big Money, Big Prizes! I Love It!</a></b></h3></div>
</p>

<div style="margin-left:30px;margin-top:10px">
	<p><b>1st Prize</b>: $2000 & Winner on Times Square Jumbotron (Courtesy of Nasdaq)</p>

	<p><b>2nd Prize</b>: $1000 & 1 year of Github Bronze* plan for the team</p>

	<p><i>*individual equivalent is 1 year of GitHub Micro account per member of team</i></p> 

	<p><b>3rd Prize</b>: $500</p> 
	<p><b>People's Choice</b>: $1500 & 1 year of Github Silver* plan, a shirt and coffee mug for each person on the team. 
	<p><i>*if the members decide they would like individual accounts instead of an org, GitHub will provide 1 year of GitHub Small</i></p>  

	<p><b><u>Hack Trailer Prizes</u></b>:</p> 

  <p><b>Coutesy of Sharethrough</b>: <p>Sharethrough will offer the winning video free distribution on the Sharethrough network following the event (a $20k value!).  The video will run for approximately 1 week, they will get thousands of views of the video across our network and Sharethrough will cover the costs.</p></p>

  <p><b>Courtesy of <a href="http://www.pond5.com/">Pond5</a></b>: 
    <ul>
      <li>$50 coupon per participating filmmaker</li>
      <li>$100 coupon for runner-up</li>
      <li>$250 coupon for winner</li>
    </ul>
  </p>
  <p<b></b></p>
  <p<b></b></p>

	<p><b><u>Prizes for use of APIs</u></b></p>

	<p><b>Best Use of the Aviary API</b>: Take home an AR Parrot Drone courtesy of Aviary!</p> 

	<p><b>Best Use of the Boxee API</b>: Take home a Boxee Box courtesy of Boxee!</p> 

	<p><b>Best Use of the Encoding.com API</b>: Apple Final Cut Pro courtesy of Encoding.com!</p> 

	<p><b>Best Use of the Vid.ly API</b>: $1k worth of Vid.ly usage & Vid.ly will help you launch your app!</p> 

	<p><b>Best Use of the Framesocket API</b>: 1 Year subscription to frame socket ($300 value)</p> 

	<p><b>Best Use of a (there are many) Mashery API</b>: Win a GoPro camera (courtesy of Mashery)!</p> 
	
	<p><b>Best Use of the Ordr.in API</b>: 2 tickets to a <a href="http://www.sidetour.com/">Sidetour</a> experience (a marketplace for unique experiences offered by individuals) and a $50 Starbucks GC.</p> 

<p><b>Best Use of the OpenTok API</b>: <a href="http://www.amazon.com/Transformer-TF101-A1-10-1-Inch-Tablet-Computer/dp/B004U78J1G">Asus Eee Pad Tablet</a></p> 


	<p><b>Best Use of the Shelby.tv API</b>: Best use of Shelby.tv API wins an Insignia 32" SmartTV</p>
	<ul><li>If your hack places in the top three and uses Shelby.tv, we'll upgrade to a 42" and throw in an AppleTV!</li>
	<li>Anyone who hacks on the Shelby API gets free beers for life at Cyberdyne systems (Shelby HQ)</li></ul> 

	<p><b>Prizes for Use of the Twilio API</b>:   $200 Twilio credit for best Twilio hack</p>
	<ul>
	<li>$100 Twilio credit if you demo using the Twilio API</li>
	<li>$50 upgrade code to try a Twilio hack.</li>
	<li>If you win the grand prize and get on the billboard using Twilio, you get an 11'' Macbook Air from us!</li>
 
	<p><b>Best use of the YouTube API</b>: Take home a GoogleTV box (courtesy of Google/YouTube)!</p>
</div>	
