body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x:hidden;
}

a{
  text-decoration:none;
}

#header{
  border-bottom:1px solid #909090;
  padding-bottom:15px;
  position:absolute;
  height:105px;
  width:97%;
}

#footer{
  border-top:1px solid #909090;
  position:absolute;
  bottom:2px;
  height:70px;
  width:97%;
  z-index:2000;
  background:white;
}

#proudly{
  top:0px;
  left:10px;
  position:absolute;
  font-size:20px;
  margin-left:20px;
  font-style:italic;
}

#shelby-foot{
  width:200px;
  float:right;
}
#tokbox-foot{
  width:150px;
  float:right;
}

#ga-foot{
  float:right;
  height:45px;
}

.footer-item{
  margin:20px;
  position:relative;
}

#powered{
  float:right;
  font-size:18px;
  color:#303030;
}

#content{
  position:absolute;
  top:130px;
  width:101%;
  left:0px;
  padding:5px;
  height:67%;
  overflow:scroll;
}

.header-text{
  margin-top:50px;
  font-weight:bold;
  font-size:20px;
}

#header-description{
  display:none;
  margin-left:15px;
  overflow:hidden;
}

#header-signup{
  float:right;
  margin-right:70px;
  z-index:3000;
}

.header-item{
  position:relative;
  float:left;
}

#header-logo{
  width:300px;
  height:97px;
}

#logos{
  display:none;
  position:absolute;
  left:120px;
  top:55px;
  padding-top:10px;
}


#info{
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-left:1px solid #999999;
  top:35px;
  position:absolute;
  right:70px;
  padding-left:30px;
  z-index:1000;
  background:white;
  display:none;
}

#ga_logo{
  height:30px;
}

.sponsor{
  display:none;
  margin-left:20px;
}

.sponsor:hover{
  opacity:0.8;
}

#nasdaq{
  width:700px;
  /*margin-left:300px;*/

}

#boxee{
  width:140px;
  height:140px;
}

#pepsi{
  /*margin-left:365px;*/
  width:280px;
}

#twilio{
  width:250px;
  margin-bottom:30px;
}

#vidly{
  width:150px;
  margin-bottom:30px;
}

#gigaom{
width:350px;
}

#links{
  margin-left:10px;
  font-size:16px;
  float:left;
}

.contrib{
  margin-left:20px;
}

.contrib a:hover{
  text-decoration:underline;
}

#contrib-email{
  color:#404040;
  outline:none;
  border:1px solid #707070;
  padding:5px;
}

.hack-idea{
  border-bottom:1px solid #999999;
  margin:10px;
  width:500px;
}

.hack-idea img{
  width:150px;
}

#hack-ideas{
  margin-left:20px;
}

#faq {
  margin-left:20px;
  font-size:18px;
}

.quest{
  width:400px;
}
